<!-- C9 ESCTV + RAFAEL-->
<div class="thread">100000044965790&#064;facebook.com, 100005145188914&#064;facebook.com, 100008217518537&#064;facebook.com
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Quinta, 28 de abril de 2016 às 15:44 UTC-03</span></div>
    </div>
    <p>faz seu tempo</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Quinta, 28 de abril de 2016 às 15:44 UTC-03</span></div>
    </div>
    <p>sem problemas</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Quinta, 28 de abril de 2016 às 15:43 UTC-03</span></div>
    </div>
    <p>Tranquilo, deixa só eu definir aqui as programações com o Adrian</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Quinta, 28 de abril de 2016 às 15:43 UTC-03</span></div>
    </div>
    <p>beleza?</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Quinta, 28 de abril de 2016 às 15:43 UTC-03</span></div>
    </div>
    <p>e a gente faz um novo orçamento</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Quinta, 28 de abril de 2016 às 15:43 UTC-03</span></div>
    </div>
    <p>me passa ai</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Quinta, 28 de abril de 2016 às 15:43 UTC-03</span></div>
    </div>
    <p>belezaaa</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Quinta, 28 de abril de 2016 às 15:43 UTC-03</span></div>
    </div>
    <p>Porque lá estará toda introdução</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Quinta, 28 de abril de 2016 às 15:43 UTC-03</span></div>
    </div>
    <p>A gente vai te mostrar um briefing massa, que vai te da total facilidade de editar o vídeo!</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Quinta, 28 de abril de 2016 às 15:42 UTC-03</span></div>
    </div>
    <p>e como seria isso?</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Quinta, 28 de abril de 2016 às 15:42 UTC-03</span></div>
    </div>
    <p>Por isso quero só 1 vídeo de apresentação geral</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Quinta, 28 de abril de 2016 às 15:42 UTC-03</span></div>
    </div>
    <p>Hoje a ESL anunciou que também abrirá um canal esportivo 24/7, e por isso vou antecipar o lançamento da Emissora!</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Quinta, 28 de abril de 2016 às 15:41 UTC-03</span></div>
    </div>
    <p>como assim??</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Quinta, 28 de abril de 2016 às 15:41 UTC-03</span></div>
    </div>
    <p>Cara, houve um enorme problemas e vou ter que mudar sobre o trailer, pode ser?</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Quinta, 28 de abril de 2016 às 15:40 UTC-03</span></div>
    </div>
    <p>Opa</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Quinta, 28 de abril de 2016 às 15:38 UTC-03</span></div>
    </div>
    <p>Rafael?</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Quarta, 27 de abril de 2016 às 21:33 UTC-03</span></div>
    </div>
    <p>De boa! Tamos aí :D</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Quarta, 27 de abril de 2016 às 21:33 UTC-03</span></div>
    </div>
    <p>Valeu ai pela confiança</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Quarta, 27 de abril de 2016 às 21:33 UTC-03</span></div>
    </div>
    <p>Mas a gente vai afinando isso aí</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Quarta, 27 de abril de 2016 às 21:33 UTC-03</span></div>
    </div>
    <p>Fechado! Galera, preciso sair agr</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Quarta, 27 de abril de 2016 às 21:32 UTC-03</span></div>
    </div>
    <p>Bradesco e HSBC que é ruim</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Quarta, 27 de abril de 2016 às 21:32 UTC-03</span></div>
    </div>
    <p>Pelo menos leva só 1 dia p cair</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Quarta, 27 de abril de 2016 às 21:32 UTC-03</span></div>
    </div>
    <p>BB melhor que Bradesco kk</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Quarta, 27 de abril de 2016 às 21:32 UTC-03</span></div>
    </div>
    <p>Só BB ou Bradesco</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Quarta, 27 de abril de 2016 às 21:32 UTC-03</span></div>
    </div>
    <p>:/</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Quarta, 27 de abril de 2016 às 21:32 UTC-03</span></div>
    </div>
    <p>Pior que não cara :.</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Quarta, 27 de abril de 2016 às 21:31 UTC-03</span></div>
    </div>
    <p>Tu não tem conta caixa não? Pq se fosse caixa o dinheiro cairia instantaneamente</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Quarta, 27 de abril de 2016 às 21:31 UTC-03</span></div>
    </div>
    <p>Entrega de 1 semana</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Quarta, 27 de abril de 2016 às 21:31 UTC-03</span></div>
    </div>
    <p>Faço o primeiro agr cm o valor de 450</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Quarta, 27 de abril de 2016 às 21:30 UTC-03</span></div>
    </div>
    <p>Então beleza</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Quarta, 27 de abril de 2016 às 21:30 UTC-03</span></div>
    </div>
    <p>Tranquilo</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Quarta, 27 de abril de 2016 às 21:30 UTC-03</span></div>
    </div>
    <p>AAA saquei</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Quarta, 27 de abril de 2016 às 21:30 UTC-03</span></div>
    </div>
    <p>dos 6</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Quarta, 27 de abril de 2016 às 21:30 UTC-03</span></div>
    </div>
    <p>Mas sempre cai antes</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Quarta, 27 de abril de 2016 às 21:30 UTC-03</span></div>
    </div>
    <p>O prazo é 6 dias</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Quarta, 27 de abril de 2016 às 21:30 UTC-03</span></div>
    </div>
    <p>banco é ruim</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Quarta, 27 de abril de 2016 às 21:30 UTC-03</span></div>
    </div>
    <p>É possível que demore mesmo, porque no Ceará aqui é normal demorar!</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Quarta, 27 de abril de 2016 às 21:29 UTC-03</span></div>
    </div>
    <p>Que não caiu os 50% do GIF lá?</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Quarta, 27 de abril de 2016 às 21:28 UTC-03</span></div>
    </div>
    <p>Putz mas agora bastava um, pq o outro trailer eu ia demorar pra divulgar</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Quarta, 27 de abril de 2016 às 21:28 UTC-03</span></div>
    </div>
    <p>Daniel, chegou a ver</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Quarta, 27 de abril de 2016 às 21:28 UTC-03</span></div>
    </div>
    <p>Isso!! A partir do momento que for feito os 50% e os vídeos... Aí começa a contar as 2 semanas</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Quarta, 27 de abril de 2016 às 20:08 UTC-03</span></div>
    </div>
    <p>juntos?</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Quarta, 27 de abril de 2016 às 20:08 UTC-03</span></div>
    </div>
    <p>Você vai entregar os 2 trailers</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Quarta, 27 de abril de 2016 às 17:50 UTC-03</span></div>
    </div>
    <p>2 semanas*</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Quarta, 27 de abril de 2016 às 17:49 UTC-03</span></div>
    </div>
    <p>Boa tarde pessoal, tudo certo? Conforme o combinado, segue abaixo o orçamento: 2 trailers do canal: R$ 900,00 Entrada de 50% R$450,00 + 50% R$450,00 de retirada. As atividades começariam assim que a entrada for paga + a entrega dos vídeos do youtube,
        conforme combinamos. Em relação aos vídeos do youtube basta só os links, o restante eu me viro aqui. Prazo de entrega: 2. Vocês estão de acordo?</p>
    <div class="message">
        <div class="message_header"><span class="user">100005145188914&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 19:31 UTC-03</span></div>
    </div>
    <p>Valeu!</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 19:02 UTC-03</span></div>
    </div>
    <p></p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 19:02 UTC-03</span></div>
    </div>
    <p>Beleza cara</p>
    <div class="message">
        <div class="message_header"><span class="user">100005145188914&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 19:01 UTC-03</span></div>
    </div>
    <p>Sobre as jogadas, a gente te manda os vídeos. A música vamos pensar aqui e te passamos depois, sem erro</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:56 UTC-03</span></div>
    </div>
    <p>Valeu</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:56 UTC-03</span></div>
    </div>
    <p>abraços</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:56 UTC-03</span></div>
    </div>
    <p>vou precisar sair aqui</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:56 UTC-03</span></div>
    </div>
    <p>fico esperando cair na minha conta o dinheiro referente ao GIF. Valeu galera</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:56 UTC-03</span></div>
    </div>
    <p>Blza</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:56 UTC-03</span></div>
    </div>
    <p>e passo pra vocês, ok??</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:56 UTC-03</span></div>
    </div>
    <p>todo detalhado</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:56 UTC-03</span></div>
    </div>
    <p>bom, então vou levantar o orçamento</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:55 UTC-03</span></div>
    </div>
    <p>ai vcs escolhem uma que agrade</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:55 UTC-03</span></div>
    </div>
    <p>vai ter algumas laa</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:55 UTC-03</span></div>
    </div>
    <p>procura assim &quot;No Copyright sound&quot;</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:55 UTC-03</span></div>
    </div>
    <p>kkk</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:55 UTC-03</span></div>
    </div>
    <p>Vai durar até 2060</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:55 UTC-03</span></div>
    </div>
    <p>beleza</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:55 UTC-03</span></div>
    </div>
    <p>NC</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:55 UTC-03</span></div>
    </div>
    <p>Daqui que a gente ache uma música massa</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:54 UTC-03</span></div>
    </div>
    <p>é então, copyright ja ta valendo pra face tambem</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:54 UTC-03</span></div>
    </div>
    <p>Só no face</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:54 UTC-03</span></div>
    </div>
    <p>youtube, site, face?</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:54 UTC-03</span></div>
    </div>
    <p>certo?</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:54 UTC-03</span></div>
    </div>
    <p>mas vai ser usado nas redes</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:53 UTC-03</span></div>
    </div>
    <p>precisa ser &quot;No Copyright&quot;</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:53 UTC-03</span></div>
    </div>
    <p>ao ar</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:53 UTC-03</span></div>
    </div>
    <p>Não, mas não vamos levar a música</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:53 UTC-03</span></div>
    </div>
    <p>pra achar musica sem direitos autorais</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:53 UTC-03</span></div>
    </div>
    <p>pro nome do artista em si</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:53 UTC-03</span></div>
    </div>
    <p>familia</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:53 UTC-03</span></div>
    </div>
    <p>pra produtora</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:53 UTC-03</span></div>
    </div>
    <p>é uma forma de gerar receita</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:53 UTC-03</span></div>
    </div>
    <p>pra qualquer artista vai te copyright</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:52 UTC-03</span></div>
    </div>
    <p>cara, ainda existe copyright pra ele</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:52 UTC-03</span></div>
    </div>
    <p>vamos pegar do Michael Jackson</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:52 UTC-03</span></div>
    </div>
    <p>Mas se for pegar uma baseando no Copyright, vamos pegar uma música então de alguém morto</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:50 UTC-03</span></div>
    </div>
    <p>beleza</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:50 UTC-03</span></div>
    </div>
    <p>os vídeos</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:50 UTC-03</span></div>
    </div>
    <p>Eu separo</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:50 UTC-03</span></div>
    </div>
    <p>sobre os vídeos, como ja disse pro Daniel, eu não manjo dessas jogadas kkk fica complicado eu te que levantar esses vídeos pra pode fazer isso</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:49 UTC-03</span></div>
    </div>
    <p>pq pode dar problema de direitos autorais</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:49 UTC-03</span></div>
    </div>
    <p>não posso pegar qualquer música</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:49 UTC-03</span></div>
    </div>
    <p>existe uma parada chamada copyright</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:49 UTC-03</span></div>
    </div>
    <p>é que assim galera</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:49 UTC-03</span></div>
    </div>
    <p>então</p>
    <div class="message">
        <div class="message_header"><span class="user">100005145188914&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:47 UTC-03</span></div>
    </div>
    <p>A música pode ser uma bem irada, vamos pensar hehe</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:46 UTC-03</span></div>
    </div>
    <p>Aquela é boa</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:45 UTC-03</span></div>
    </div>
    <p>Bota aquela usada nos vingadores 1</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:45 UTC-03</span></div>
    </div>
    <p>kkk</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:45 UTC-03</span></div>
    </div>
    <p>Não precisa ser TSFH não, avemaria vou é enjoar da música já</p>
    <div class="message">
        <div class="message_header"><span class="user">100005145188914&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:45 UTC-03</span></div>
    </div>
    <p>Selecionar 1, 2 jogadas por jogo e passar elas bem rápida com uma musica época de fundo (Two Steps From Hell, no caso)</p>
    <div class="message">
        <div class="message_header"><span class="user">100005145188914&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:44 UTC-03</span></div>
    </div>
    <p>Algo de 20 segundos</p>
    <div class="message">
        <div class="message_header"><span class="user">100005145188914&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:44 UTC-03</span></div>
    </div>
    <p>E ao fim delas aparecer o logo da ESCTV</p>
    <div class="message">
        <div class="message_header"><span class="user">100005145188914&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:44 UTC-03</span></div>
    </div>
    <p>Como um flash</p>
    <div class="message">
        <div class="message_header"><span class="user">100005145188914&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:44 UTC-03</span></div>
    </div>
    <p>As jogadas teriam de passar rápidas</p>
    <div class="message">
        <div class="message_header"><span class="user">100005145188914&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:43 UTC-03</span></div>
    </div>
    <p>Selecionar algumas jogadas epicas de todos os jogos: CS:GO, LOL, Dota e colocar tudo num vídeo</p>
    <div class="message">
        <div class="message_header"><span class="user">100005145188914&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:42 UTC-03</span></div>
    </div>
    <p>Boa noite, Rafael. O que estamos querendo fazer são trailers pra deixar o pessoal mais ansioso</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:38 UTC-03</span></div>
    </div>
    <p>sem problemas</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:38 UTC-03</span></div>
    </div>
    <p>se ele demorar pra te responder é pq tá indo pra faculdade</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:38 UTC-03</span></div>
    </div>
    <p>OK</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:37 UTC-03</span></div>
    </div>
    <p>vou fazer o levantamento de custo desses dois trailers, e passo pra vocês amanha...ok?</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:37 UTC-03</span></div>
    </div>
    <p>certo</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:36 UTC-03</span></div>
    </div>
    <p>2 trailers</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:36 UTC-03</span></div>
    </div>
    <p>quantos vídeos vão ser?</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:35 UTC-03</span></div>
    </div>
    <p>outra coisa que levantei com ele, é o seguinte</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:29 UTC-03</span></div>
    </div>
    <p>e mostrar a diversidade de jogos que vocês vão trabalhar</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:28 UTC-03</span></div>
    </div>
    <p>levantem a questão pra ele, de que deveria existir um suspense em cima disso</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:28 UTC-03</span></div>
    </div>
    <p>mas precisaria de um briefing mais elaborado do que vocês querem no trailer</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:28 UTC-03</span></div>
    </div>
    <p>que achei legal trabalhar</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:28 UTC-03</span></div>
    </div>
    <p>estava conversando com o Daniel sobre os vídeos da emissora de vocês, passei algumas ideias</p>
    <div class="message">
        <div class="message_header"><span class="user">100000044965790&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:27 UTC-03</span></div>
    </div>
    <p>Opa. Boa noite Adrian, tudo certo?</p>
    <div class="message">
        <div class="message_header"><span class="user">100008217518537&#064;facebook.com</span><span class="meta">Segunda, 25 de abril de 2016 às 18:26 UTC-03</span></div>
    </div>
    <p>Rafael, esse é o Adrian meu sócio. Ele entende melhor com briefing!</p>
</div>
<!-- C9 - FIM -->
